

.mask-img1 {
    width: 100%;
}

.theme-title h2 {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 28px;
}
p {
    line-height: 1.7;
}
p {
    margin-bottom: 1rem;
    margin-top: 0;
}
.abt h4 {
    margin-top: 20px;
}
.service-item.style-2 .service-desc p {
    margin: 20px 0 0;
}
@media (max-width: 992px) {
    .service-item.style-2 {
        padding: 40px 30px 70px;
    }
}
.abt p {
    margin-top: 0px !important;
}

.service-item.style-2:after {
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    opacity: 0.04;
    width: 100%;
    z-index: -1;
    background: url(../../../public/assets/Home/02.png) no-repeat 0 0;
    background-size: cover;
}

a, i, .themeht-btn, button, img, span, .nav-link, .dropdown-item, #ht-main-nav, .social-icons li:hover a, .testimonial-carousel .controls li, .service-item, .service-item.style-1 svg, .service-item.style-1::before, .service-item.style-1:after, .service-item.style-2:after, .service-item.style-3::before, .service-item.style-3:after, .clients-logo, .service-item.style-3, .featured-item, .featured-icon, .featured-item .featured-icon i, .portfolio-item, .price-table, .post .post-desc, .service-menu li a:before, .team-social-icon, .step-icon-bg, .accordion .accordion-button:before, .accordion .accordion-button:after {
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.zoom-fade, .service-item.style-1:after, .service-item.style-2:after {
    animation-name: zoom-fade;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
*, :after, :before {
    box-sizing: border-box;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #67757c;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
}